<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
    <video id="video" autoplay></video>
    <script>
        if(Hls.isSupported()) {
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('http://192.168.88.35:8888/cam/index.m3u8');
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
                video.play();
            });
        }
        // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
        // When the browser has built-in HLS support (check using `canPlayType`), we can provide the HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
        // This is using the built-in support of the plain video element, without using hls.js.
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = 'http://192.168.88.35:8888/cam/index.m3u8';
            video.addEventListener('loadedmetadata', function() {
                video.play();
            });
        }
    </script>

    <div class="button-container">
        <button id="open-door" class="door-button">Open the door</button>
        <button id="close-door" class="door-button">Close the door</button>
        <div id="output">Door state displayed here</div>
    </div> 

    <script>
        $(document).ready(function() {
            $.getJSON('static/state.json', function(data) {
                var state = data.state; // Get the value of the state property
                $('#output').html('<p>' + (state === 'closed' ? 'Door closed' : 'Door open') + '</p>');

                // Disable the button correlating to the state
                if (state === 'open') {
                    $('#open-door').prop('disabled', true);
                } else if (state === 'closed') {
                    $('#close-door').prop('disabled', true);
                }
            });
        });
    </script>
    <script>
        function waitForLockRelease(buttonId) {
            $.get('/lock_status', function(response) {
                if (!response.lock_engaged) {
                    $(buttonId).prop('disabled', false);
                } else {
                    // If the lock is not released, wait for 1 second and then check again
                    setTimeout(function() {
                        waitForLockRelease(buttonId);
                    }, 1000);
                }
            });
        }

        $(document).ready(function() {
            $.getJSON('static/state.json', function(data) {
                var state = data.state; // Get the value of the state property
                $('#output').html('<p>' + state + '</p>'); // Replace content

                // Disable the button correlating to the state
                if (state === 'open') {
                    $('#open-door').prop('disabled', true);
                } else if (state === 'closed') {
                    $('#close-door').prop('disabled', true);
                }
            });

            $('#open-door').click(function() {
                $(this).prop('disabled', true); // disable this button
                $('#close-door').prop('disabled', true); // disable the other button

                $.post('/open_door', function(response) {
                    $('#output').html('<p>' + response.message + '</p>');
                }).done(function() {
                    waitForLockRelease('#close-door');
                }).fail(function() {
                    alert('Error: Could not reach server or server returned an error.');
                    $('#open-door').prop('disabled', false);
                });
            });

            $('#close-door').click(function() {
                $(this).prop('disabled', true); // disable this button
                $('#open-door').prop('disabled', true); // disable the other button

                $.post('/close_door', function(response) {
                    $('#output').html('<p>' + response.message + '</p>');
                }).done(function() {
                    waitForLockRelease('#open-door');
                }).fail(function() {
                    alert('Error: Could not reach server or server returned an error.');
                    $('#close-door').prop('disabled', false);
                });
            });
        });
    </script>
    
</body>
</html>