[Unit]
Description=Coop Door Control Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/coopi
ExecStart=/usr/bin/python3 /home/pi/coopi/app.py
Restart=always

[Install]
WantedBy=multi-user.target